{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
 {% block body %}

 {% include 'partial/_header.html.twig' %}

<h1 class="text-center text-white ">Inscription</h1>

<div class ="text-white align-items-center py-4 d-flex">

    

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom, {
            attr: { class: 'form-control mb-3' }
        }) }}
        {{ form_row(registrationForm.prenom, {
            attr: { class: 'form-control mb-3' }
        }) }}
        {{ form_row(registrationForm.adresse, {
            attr: { class: 'form-control mb-3' }
        }) }}
        {{ form_row(registrationForm.codePostal, {
            attr: { class: 'form-control mb-3' }
        }) }}
        {{ form_row(registrationForm.ville, {
            attr: { class: 'form-control mb-3' }
        }) }}
        {{ form_row(registrationForm.email, {
            attr: { class: 'form-control mb-3' }
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe', attr: {class: 'form-control mb-3 ml-1'}
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            attr: { class: 'form-check mb-3 ' }
        }) }}
        <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-danger col-5 mx-auto mt-3 center">S'inscrire</button></div>
    {{ form_end(registrationForm) }}
</div>
   <div class="text-white text-center"> <p>Déjà inscrit? <a href="{{ path('app_login')}}">  Me connecter</a></p></div>

  {% include 'partial/_footer.html.twig' %}

 {% endblock %}
